USE [DB_Adim]
GO
/****** 对象:  Table [dbo].[WF_PROC_DEVOLVE]    脚本日期: 04/12/2010 18:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WF_PROC_DEVOLVE](
	[ProcessTemp] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[ProcessID] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF