
.topFolder { line-height: 200%; margin: 8px 8px 8px 18px; width: 100%; overflow: hidden; background-image: url(../Img/left_folder.gif); cursor: pointer; }
.topFolder img { background-position: center left; background-repeat: no-repeat; margin: 0px 4px 0px 0px;  }

.subItem { line-height: 200%; margin: 5px 5px 5px 15px; width: 100%; overflow: hidden;  cursor: pointer; color: black; }
.sub { list-style-type: none;  padding-left: 15px; display: none; }
.div_hide { position: absolute; left: 140px; top: 80px; width: 8px; height: 100%; cursor: hand; }
.left_main { background-image: url(../Img/left_bg1.gif); height: 100%; }
.left_bt {  height: 20px; text-align: center;  padding-top: 6px;   }